.navigationLink {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 500;
  color: #2a363b;
  font-size: 18px;
}

.navigationLink:hover {
  color: #2196f3;
}

.active {
  color: red;
}
